*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: rgb(255, 130, 58);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: cen
    ter;
    justify-content: center;
}

.backnav {
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.backnav:hover {
    background-color: rgb(196, 90, 29);
}


.about {
    padding-top: 70px;
    padding-bottom: 25px;
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
    /* margin: 0px 300px; */
}

.gallery {
    width: auto;
    margin: auto;
    position: relative;
}

.row {
    display: grid;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    /* max-width: 100%; */
}

.image {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
   
}

.image img{
    width: 100%;
    height: auto;
    background-size: cover;
    transition: all 1.1s;
}


.image img:hover {
    transform: scale(1.05);
}


.footer {
    background-color: rgb(1, 68, 65);
    margin-top: 20px;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem 1rem;
}

.logo {
    margin-left: 2rem;
}

.logo p{
    color: white;
}

.contact p{
   color: white;
}

@media (max-width: 768px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .row {
        grid-template-columns: 1fr;
    }
}

