.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #14b70e; /* Ganti dengan warna latar belakang yang diinginkan saat hover */
    color: #fff;
}